# ==============================
# Node.js
# ==============================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# ==============================
# PlatformIO
# ==============================

.pio/
.vscode/

# ==============================
# Build files
# ==============================

build/
dist/
out/

# ==============================
# Operating System
# ==============================

.DS_Store
Thumbs.db
desktop.ini

# ==============================
# IDEs
# ==============================

.idea/
*.iml

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Temporary files
# ==============================

*.tmp
*.temp